.searchbar {
    background-color: rgba(245, 219, 223, 0.692);
    padding: 10px ;
    margin-bottom:5px;
    text-align: center;
    /* background-image: url("https://t4.ftcdn.net/jpg/02/52/89/41/240_F_252894144_hW1DLUX9zrCLh64ScJGbc2r3HhPFsGfQ.jpg"); */

} 

.submit {
    padding: 1px;
    
} 

h1 {
    text-align: center;
    
}

.searchform {
    text-align: center;
    

}