.searchbar {
    background:rgba(63, 62, 63, 0.479);
    padding: 10px ;
    margin-bottom:5px;
    text-align: center;
} 

.submit {
    padding: 1px;
    
} 

.search {
    text-align: center;
}

.searchform {
    text-align: center;

}