/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


.nav-link-list  {
  display: inline-block;
  list-style: none;
  text-align: left;
  padding: 10px ;
  background-color: #ec598a;
}

.App-main-div {
  background-image: url("https://hgtvhome.sndimg.com/content/dam/images/hgrm/fullset/2013/8/5/0/CEDIA2013_HT6_futurtistic_design_lighting_audio_system_home_theater_h.jpg.rend.hgtvcom.1280.960.suffix/1409190437991.jpeg");
  padding: 200px ;

}

.welcome-banner {
  padding: 50px ;

}