

.welcome-banner {
  padding: 50px ;
  text-align: center;
}

.checkout {
  text-align: center;
  padding: 50px ;
  font-size:20px;

}

.button {
  font-size:20px;

}

.navbar {
  color:#999;
  background:rgba(0, 0, 0, 0.5);
  padding:20px;
  font-size:20px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  /* position: fixed; Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: center;
}

.nav-link-list  {
  display: inline-block;
  list-style: none;
  text-align: center;
  padding: 10px ;
  padding: 20px;
  background-color: #fd30db7a;  
}

a {
  text-decoration: none;
}
.nav-link-list:hover{
  border:none;
  background:rgba(215, 153, 243, 0.479);
  background:#fff;
  padding:30px 30px;
  color:#1b1b1b;
  width: 100;

}


.App-main-div {
  padding: 100px ;
  /* background-color: purple; */
  /* background-image: url("https://i.ibb.co/4Rx3Tjx/1409190437991.jpg"); */


}

.welcome-banner {
  padding: 50px;
}

h1,h2,div {
  background-color: black;
  color: white;
}